body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 50px 0;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}

button[type="submit"] {
  width: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

select {
  margin-left: 10px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}
#search-results a {
  text-decoration: none;
  color: #00bfff;
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  padding-bottom: 24px;
  
}

#search-results a:hover {
  color: #fff;
  background-color: #00bfff;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #00bfff;
  transform: scale(1.1);
  
}

#search-results a:active {
    transform: scale(0.9);
    box-shadow: none;
    
  
}
